body {
    background-image: linear-gradient(#ccc2a7,#e4d5be, #ae5a54);
    color: #011823;
    font-size: 35px;
}

h1{
    color: #65261e;
}

h2 {
    background-color: #457d97;
    color:#ffffff;
}